@charset "utf-8";
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant\n:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
#yui3-css-stamp.cssreset{display:none}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 
.clear{clear: both;}
*,*:after,*:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.clearfix:before,.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
html {font-family: "PingFang SC","Helvetica Neue", Helvetica,"Microsoft Yahei",Arial,sans-serif,Lato;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;line-height: 1;-webkit-tap-highlight-color: transparent;}
html,body{
	background: #fff;
	-webkit-font-smoothing: antialiased;
}
body{max-width: 750px; margin: 0 auto;}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.fr{
	float: right;
}

.btn-next{
	display: block;
	width: 100%; height: .9rem; margin: 0 auto; padding: 0; border-radius: .1rem;
	font-size: .32rem; line-height: .9rem;
	color: #fff;
	background-color: #2674d9;
	box-shadow: .02rem .02rem .08rem #9bc2f3;
}

.btn-block{
	display: block;
	width: 7rem; height: .9rem; margin: 0 auto; padding: 0; border-radius: .1rem;
	font-size: .32rem; line-height: .9rem;
	color: #fff;
	background-color: #2674d9;
	box-shadow: .02rem .02rem .08rem #9bc2f3;
}

.mui-bar-nav~.mui-content{
	padding-top: .8rem;
}

/* 底部导航 */
#nav-bar{
	box-shadow: 0 0 10px 0 hsla(0,6%,58%,.6);
    -webkit-box-shadow: 0 0 10px 0 hsla(0,6%,58%,.6);
    -moz-box-shadow: 0 0 10px 0 hsla(0,6%,58%,.6);
	background: #fff!important;
}

#nav-bar.mui-bar-tab{
	height: 1rem;
}

#nav-bar.mui-bar-tab .mui-tab-item{
	color: #666;
}

#nav-bar.mui-bar-tab .mui-tab-item.mui-active{
	color: #007aff;
}

#nav-bar.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label{
	font-size: .2rem;
}

#nav-bar.mui-bar-tab .mui-tab-item .mui-icon {
	/*top: 0;*/
    width: .5rem;
    height: .5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.icon-order{
	background: url(images/icon-order.png) no-repeat center;
	background-size: .5rem .5rem;
}

.icon-user{
	background: url(images/icon-user.png) no-repeat center;
	background-size: .5rem .5rem;
}

.icon-data{
	background: url(images/icon-data.png) no-repeat center;
	background-size: .5rem .5rem;
}

.icon-mine{
	background: url(images/icon-mine.png) no-repeat center;
	background-size: .5rem .5rem;
}

.mui-active .icon-order{
	background: url(images/icon-order-active.png) no-repeat center;
	background-size: .5rem .5rem;
}

.mui-active .icon-user{
	background: url(images/icon-user-active.png) no-repeat center;
	background-size: .5rem .5rem;
}

.mui-active .icon-data{
	background: url(images/icon-data-active.png) no-repeat center;
	background-size: .5rem .5rem;
}

.mui-active .icon-mine{
	background: url(images/icon-mine-active.png) no-repeat center;
	background-size: .5rem .5rem;
}

/* 公共标题头 */
.mui-bar{
	position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: .8rem;
    padding: 0 .16rem;
    border-bottom: 0;
    background-color: #4b89dc!important;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-width: 750px;
    margin: auto;
    color: #fff;
    line-height: .8rem;
}

.mui-bar-nav.mui-bar .mui-icon{
	margin: .2rem 0 0; padding: 0;
}

.mui-bar .mui-title{
	height: .8rem;
	font-size: .36rem; line-height: .8rem;
	color: #fff;
}

.mui-icon-back:before, .mui-icon-left-nav:before {
    color: #fff;
}

.mui-bar .mui-icon{
	font-size: .4rem;
}
