<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="mui/css/mui.min.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="pages/order/order.css" />
    <script src="app.js"></script>
    <style>
        html,
        body {
            background-color: #f2f2f2;
        }

        .mui-bar~.mui-content .mui-fullscreen {
            top: 44px;
            height: auto;
        }

        .mui-pull-top-tips {
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -25px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            z-index: 1;
        }

        .mui-bar~.mui-pull-top-tips {
            top: 24px;
        }

        .mui-pull-top-wrapper {
            width: 42px;
            height: 42px;
            display: block;
            text-align: center;
            background-color: #efeff4;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-clip: padding-box;
            box-shadow: 0 4px 10px #bbb;
            overflow: hidden;
        }

        .mui-pull-top-tips.mui-transitioning {
            -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
        }

        .mui-pull-top-tips .mui-pull-loading {
            /*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
            margin: 0;
        }

        .mui-pull-top-wrapper .mui-icon,
        .mui-pull-top-wrapper .mui-spinner {
            margin-top: 7px;
        }

        .mui-pull-top-wrapper .mui-icon.mui-reverse {
            /*-webkit-transform: rotate(180deg) translateZ(0);*/
        }

        .mui-pull-bottom-tips {
            text-align: center;
            background-color: #efeff4;
            font-size: 15px;
            line-height: 40px;
            color: #777;
        }

        .mui-pull-top-canvas {
            overflow: hidden;
            background-color: #fafafa;
            border-radius: 40px;
            box-shadow: 0 4px 10px #bbb;
            width: 40px;
            height: 40px;
            margin: 0 auto;
        }

        .mui-pull-top-canvas canvas {
            width: 40px;
        }

        .mui-slider-indicator.mui-segmented-control {
            background-color: #efeff4;
        }

        @keyframes fade {
            0% {
                opacity: 0;
                filter: alpha(opacity=0);
            }
            50% {
                opacity: .5;
                filter: alpha(opacity=50);
            }
            100% {
                opacity: 1;
                filter: alpha(opacity=100);
            }
        }

        .mui-table-view li {
            margin-bottom: .24rem;
            animation: fade .4s ease;
        }

        .mui-table-view li:last-child {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <div id="app">
        <header class="mui-bar mui-bar-nav" id="bar">
            <a class="mui-icon mui-pull-left"></a>
            <h1 class="mui-title">订单管理</h1>
            <a class="mui-icon mui-pull-right" id="btn-filter" @click="toggleLayer">
			<img src="images/iocn-filter.png" alt="" class="img-responsive">
		</a>
        </header>
        <div :class="bShow == true ? 'layer-filters active' : 'layer-filters'">
            <div class="f-l"><a class="layer-filters-cell current">全部彩种</a></div>
            <div class="f-l" v-for="item in aTypes">
                <a class="layer-filters-cell" v-text="item" @click="selectType($event)"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="hint">
            为了更方便您的彩民投注，建议您认证店铺，定制您的彩民版应用~
            <a href="pages/auth/step-1.html" class="btn-auth-now">立即认证</a>
        </div>
        <div :class="bShow == true ? 'layer-mask active' : 'layer-mask'" @click="toggleLayer"></div>
        <div id="slider" class="mui-slider mui-fullscreen">
            <div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                <div class="mui-scroll" id="mui-scroll">
                    <a class="mui-control-item mui-active" href="#item1mobile">
						订单(0)
					</a>
                    <a class="mui-control-item" href="#item2mobile">
						合买(0)
					</a>
                    <a class="mui-control-item" href="#item3mobile">
						跟单(0)
					</a>
                    <a class="mui-control-item" href="#item4mobile">
						合作(0/0)
					</a>
                </div>
            </div>
            <div class="mui-slider-group">
                <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                    <div class="mui-scroll">
                        <ul class="mui-table-view">
                            <li v-for="item in test">
                                <section class="order-item">
                                    <a href="pages/order/order-detail3.html">
                                        <div class="o-i-header">
                                            <div class="o-i-box fl"><img src="images/icon-ball1.png" alt="" class="img-responsive"></div>
                                            <div class="o-i-txt">
                                                <span class="font32">双色球<i class="o-i-tag">追号</i></span>
                                                <spn class="fr font24">第2018067期</spn>
                                            </div>
                                        </div>
                                        <div class="o-i-main">
                                            <div class="prize-num">
                                                <span>04</span><span>10</span><span>19</span><span>21</span>
                                                <span>31</span><span>32</span>
                                                <span class="o-i-special">| <i>07</i></span>
                                            </div>
                                            <div class="prize-detail">
                                                <span><i class="color1">1</i> 注</span>
                                                <span><i class="color1">1</i> 倍</span>
                                                <span><i class="color-y1">2.00</i> 元</span>
                                                <span class="fr o-i-time">2018-06-11 10:04:47</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="o-i-footer">
                                        <button class="btn-to"><img src="images/icon-action1.png" alt="" class="img-responsive"></button>
                                        <button class="btn-o-i fr">立即出票</button>
                                        <button class="btn-o-i active fr">拍照出票</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="item2mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll">
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell">
                                <a href="pages/order/order-detail2.html" class="media">
                                    <section class="m-left fl flex-center">
                                        <div class="m-center">
                                            <span class="color2">50.00%</span>
                                        </div>
                                    </section>
                                    <section class="m-main fr">
                                        <section class="m-main-h">
                                            <span class="m-main-title">竞彩足球</span>
                                            <span class="m-main-title">混合</span>
                                            <span class="m-main-title fr">130****0110</span>
                                        </section>
                                        <section class="m-main-b">
                                            <div class="m-main-item">
                                                <div class="m-num-small">2</div>
                                                <div>方案金额</div>
                                            </div>
                                            <div class="m-main-item">
                                                <div class="m-num-small">1</div>
                                                <div>单份金额</div>
                                            </div>
                                            <div class="m-main-item">
                                                <div class="m-num-small">1</div>
                                                <div>剩余份数</div>
                                            </div>
                                        </section>
                                    </section>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="item3mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll">
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell">
                                <a href="pages/order/order-detail.html" class="media">
                                    <section class="m-left fl flex-center">
                                        <div class="m-center">
                                            <div class="m-num">1</div>
                                            <div>跟单人数</div>
                                        </div>
                                    </section>
                                    <section class="m-main fr">
                                        <section class="m-main-h">
                                            <span class="m-main-title">竞彩足球</span>
                                            <span class="m-main-title">混合</span>
                                            <span class="m-main-title fr">小财神</span>
                                        </section>
                                        <section class="m-main-b">
                                            <div class="m-main-item">
                                                <div class="m-num-small">7<i>%</i></div>
                                                <div>佣金比例</div>
                                            </div>
                                            <div class="m-main-item">
                                                <div class="m-num-small">2</div>
                                                <div>单倍金额</div>
                                            </div>
                                            <div class="m-main-item">
                                                <div class="m-num-small color-1">1830</div>
                                                <div>方案总金额</div>
                                            </div>
                                        </section>
                                    </section>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="pages/order/documentary-query.html" class="media">
                                    <section class="m-left fl flex-center">
                                        <div class="m-center">
                                            <div class="m-num">1</div>
                                            <div>跟单人数</div>
                                        </div>
                                    </section>
                                    <section class="m-main fr">
                                        <section class="m-main-h">
                                            <span class="m-main-title">竞彩足球</span>
                                            <span class="m-main-title">混合</span>
                                            <span class="m-main-title fr">小财神</span>
                                        </section>

                                        <section class="m-main-b">
                                            <div class="m-main-item">
                                                <div class="m-num-small">7<i>%</i></div>
                                                <div>佣金比例</div>
                                            </div>
                                            <div class="m-main-item">
                                                <div class="m-num-small">2</div>
                                                <div>单倍金额</div>
                                            </div>
                                            <div class="m-main-item">
                                                <div class="m-num-small color-1">1830</div>
                                                <div>方案总金额</div>
                                            </div>
                                        </section>
                                    </section>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="item4mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view">
                                <li>
                                    <div class="o-empty">
                                        <div class="o-empty-box"><img src="images/order-empty.png" alt="" class="img-responsive" /></div>
                                        <div class="o-empty-txt">暂时没有用户订单哦~</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="mui-bar mui-bar-tab" id="nav-bar">
            <a id="defaultTab" class="mui-tab-item mui-active" href="#">
				<span class="mui-icon icon-order"></span>
				<span class="mui-tab-label">订单管理</span>
			</a>
            <a class="mui-tab-item" href="pages/user/user-manage.html">
				<span class="mui-icon icon-user"></span>
				<span class="mui-tab-label">用户管理</span>
			</a>
            <a class="mui-tab-item" href="pages/data/data-statistics.html">
				<span class="mui-icon icon-data"></span>
				<span class="mui-tab-label">数据统计</span>
			</a>
            <a class="mui-tab-item" href="pages/mine/person-center.html">
				<span class="mui-icon icon-mine"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
        </nav>
    </div>
    <script src="libs/vue.min.js"></script>
    <script src="mui/js/mui.min.js"></script>
    <script src="mui/js/mui.pullToRefresh.js"></script>
    <script src="mui/js/mui.pullToRefresh.material.js"></script>
    <script>
        //
        var vm = new Vue({
            el: '#app',
            data: {
                bShow: false,
                aTypes: ['全部彩种', '双色球', '竞猜篮球', '山东11选5'],
                test: [1],
            },
            methods: {
                toggleLayer: function() {
                    this.bShow = !this.bShow
                },

            }
        })

        mui.init({
            gestureConfig: {
                doubletap: true
            },
        });

        (function($) {
            //阻尼系数
            var deceleration = mui.os.ios ? 0.003 : 0.0009;
            $('.mui-scroll-wrapper').scroll({
                bounce: false,
                indicators: true, //是否显示滚动条
                deceleration: deceleration
            });
            $.ready(function() {
                // mui-pull-loading提示信息
                function pullback(index) {
                    $.each(mui('.mui-pull-loading'), function(i, item) {
                        if (index == i) {
                            item.innerText = '暂无数据~'
                            return
                        }
                    })
                }

                //循环初始化所有下拉刷新，上拉加载。
                $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
                    $(pullRefreshEl).pullToRefresh({
                        down: {
                            callback: function() {
                                var self = this;
                                setTimeout(function() {
                                    // var ul = self.element.querySelector('.mui-table-view');
                                    // ul.insertBefore(createFragment(ul, index, 10, true), ul.firstChild);
                                    // vm.$data.test.unshift(index)

                                    self.endPullDownToRefresh();
                                    pullback(index)
                                }, 1000);
                            }
                        },
                        up: {
                            callback: function() {
                                var self = this;
                                setTimeout(function() {
                                    // var ul = self.element.querySelector('.mui-table-view');
                                    // ul.appendChild(createFragment(ul, index, 5));
                                    // vm.$data.test.push(index)

                                    self.endPullUpToRefresh();
                                    pullback(index)
                                }, 1000);
                            }
                        }
                    });
                });
                var createFragment = function(ul, index, count, reverse) {
                    var length = ul.querySelectorAll('li').length;
                    var fragment = document.createDocumentFragment();
                    var li;
                    for (var i = 0; i < count; i++) {
                        li = document.createElement('li');
                        li.className = 'mui-table-view-cell';
                        li.innerHTML = '第' + (index + 1) + '个选项卡子项-' + (length + (reverse ? (count - i) : (i + 1)));
                        fragment.appendChild(li);
                    }
                    return fragment;
                };
            });
        })(mui);

        // 动态计算#slider距离顶部的距离
        function dynamicTop() {
            if (document.getElementById('hint') !== null) {
                document.getElementById('slider').style.top =
                    parseInt(document.getElementById('hint').offsetHeight) +
                    parseInt(document.getElementById('bar').offsetHeight) + 'px'
                return
            }
            document.getElementById('slider').style.top = parseInt(document.getElementById('bar').offsetHeight) + 'px'
        }
        dynamicTop()
        window.onorientationchange = window.onresize = function() {
            Ccp.Common.getInstance().init()
            dynamicTop()
        }
    </script>
</body>

</html>