@charset "utf-8";
html,body{
    background-color: #f2f2f2;
}

.um .u-empty{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 750px;
    text-align: center;
}

.um .um-list{
    font-size: .28rem;
}

.um .um-item:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.um .um-item{
    display: block; height: 1.64rem; padding: .3rem .24rem 0; border-bottom: 1px solid #e6e6e6;
    font-size: .32rem; line-height: 1;
    color: #808080;
    background-color: #fff;
    zoom: 1;
}

.um .um-box{
    width: 1.04rem; height: 1.04rem; border-radius: 50%;
}

.um .um-txt{
    padding: 0 0 0 1.28rem;
}

.um .um-txt .um-line:first-child{
    margin: .2rem 0;
}

.um .um-txt .um-line{
    /* padding: .1rem 0; */
    font-size: .28rem;
    color: #525252;
}

.um .um-txt .um-line:last-child{
    color: #303030;
}

.um .um-money{
    font-style: normal;
    color: #e41e1d;
}

.user-info .u-i-front{
    height: 2.4rem;
    background: linear-gradient(90deg, #4b89dc, #2170d9);
}

.user-info .u-i-box{
    width: 1.4rem; height: 1.4rem; padding: .08rem; border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}

.user-info .u-i-status{
    padding: .06rem .12rem;
    border-radius: .3rem;
    border: 1px solid #498adc;
    font-size: .24rem;
    color: #498adc;
}

.user-info .u-i-remark{
    margin-left: .1rem;
    padding: .06rem .12rem;
    border-radius: .3rem;
    border: 1px solid #999;
    font-size: .24rem;
    color: #424242;
}

.user-info .u-i-row:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.user-info .u-i-row{
    position: relative;
    min-height: .8rem;
    padding: 0 .24rem;
    background-color: #fff;
    zoom: 1;
}

.user-info .u-i-box{
    position: absolute;
    top: -.68rem;
}

.paddl160{
    padding-left: 1.7rem;
}

.user-info .u-i-status, .user-info .u-i-remark{
    margin-top: .08rem;
}

.user-info .u-i-phone{
    font-size: .36rem;
    color: #303030;
    padding: .48rem 0 .28rem;
}

.user-info .u-i-line{
    height: 1.2rem; padding: 0 .24rem; border-top: 1px solid #f0f0f0;
    font-size: .32rem; line-height: 1.2rem;
    background: #fff;
}

.btn-transfer{
    width: 1.8rem;
    height: .66rem;
    margin-top: .27rem;
    border-radius: .6rem;
    text-align: center;
    line-height: .66rem;
    color: #fff;
    background-color: #4b89dc;
}

.user-info .u-i-total i{
    font-style: normal;
    color: #fe8a03;
}

.margt30{
    margin-top: .3rem;
}

.margb24{
    margin-bottom: .24rem;
}

/*  */
#links{
    font-size: .32rem;
}

#links a,
#links .mui-navigate-right {
    display: block;
    margin: 0;
    padding: .28rem .24rem;
    color: #333;
}

#links .mui-table-view-cell {
    position: relative;
    padding: 0;
    background-color: #fff;
}

#links .mui-table-view-cell>a:not(.mui-btn) {
    overflow: initial;
}

#links .mui-table-view-cell:after {
    left: 0;
}

#links .span-r {
    float: right;
    font-size: .32rem;
    color: #525252;
}

#links .span-l {
    position: relative;
}

#links .txt-color1 {
    color: #e68515!important;
}

#links .icon-setting2 {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    width: .42rem;
    height: .42rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #000;
}

#links #links .mui-table-view {
    margin-bottom: .24rem;
}

#links #links .mui-table-view:last-child {
    margin-bottom: 0;
}

#links .mui-navigate-right:after,
#link .mui-push-right:after {
    right: .12rem;
}

#links .mui-table-view:before{
    background: none;
}

#links .mui-table-view{
    background: none;
}

#links .mui-switch{
    position: absolute;
    top: 50%;
    right: .24rem;
    transform: translateY(-50%);
}

.no-arrow::after {
    content: '';
}
