@charset "utf-8";
#user{
	padding: 0 .2rem;
	background: url(../../images/banner-login.jpg) no-repeat;
	background-size: cover;
}

#user .btn-user{
	float: left;
	display: block; width: .44rem; height: .44rem; margin: .32rem 0;
}

#user .btn-user-info{
	float: right;
}

#user .avatar{
	width: 1.5rem; height: 1.5rem; margin: 0 auto; border-radius: 50%;
}

#user .user-box{
	text-align: center;
	color: #fff;
}

#user .shop-name{
	padding: .22rem 0 .18rem;
	font-size: .3rem;
}

#user .btn-auth{
	padding: .04rem .04rem; border: none; border-radius: .28rem;
	font-size: .24rem; line-height: 1;
	background-color: #fff;
	color: #6d6d6d;
}

#user .half{
	float: left;
	width: 50%; padding-top: .32rem;
}

#user .half-label{
	font-size: .28rem;
}

#user .half-txt{
	padding: .1rem 0 .3rem;
	font-size: .36rem;
}

#user .bor{
	position: relative;
}

#user .bor::after{
	content: '';
	position: absolute; right: 0; top: 0; bottom: 0;
	width: 1px; height: .72rem; margin: auto;
	background-color: #fff;
}
