@charset "utf-8";
/* vue组件样式 */
/* screen-layer start*/
.screent-layer{
    -webkit-transition: -webkit-transform .5s ease, opacity .5s ease;
    transition: -webkit-transform .5s ease, opacity .5s ease;
    transition: transform .5s ease, opacity .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease,  opacity .5s ease;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    position: fixed;
    z-index: 20;
    width: 85%;
    top: 0;
    bottom: 0;
    left: 100%;
    height: 100%;
    color: #333;
    background-color: #fff;
    opacity: 0;
    color: #303030;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.screent-layer .container{
    position: relative;
    height: 100%; padding: .2rem .24rem;
}

.screent-layer.active {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    opacity: 1;
}

.screent-layer a{
    color: inherit;
}

.screent-layer .h1{
    padding: .24rem 0;
    font-size: .32rem;
}

.screent-layer .option{
    display: block; width: 1.8rem; height: .6rem; margin: 0 auto .24rem; border-radius: .1rem;
    font-size: .28rem; text-align: center; line-height: .6rem;
    background-color: #f7f7f7;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.screent-layer .option.active{
    color: #fff;
    background-color: #4b89dc;
}

.screent-layer .holder-item{
    float: left;
    width: 33.333%;
}

.screent-layer .chunk{
    margin-bottom: .12rem;
}

.screent-layer .btn-confirm-group{
    position: absolute; right: 0; bottom: 0; border-top: 1px solid #ccc;
    width: 100%; height: .96rem;
}

.screent-layer .btn-screen-layer{
    float: left;
    display: block; width: 50%; height: .96rem; margin: 0; padding: 0; border: none; border-radius: 0;
    text-align: center;
    line-height: .96rem;
    transition: .3s ease-in-out;
}

.screent-layer .btn-sure{
    background-color: #ff7a41;
    color: #fff;
}
/* screen-layer end*/

/* time-select start */

.time-select{
    font-size: .32rem; color: #303030;
}
.time-select .time-all{
    width: 1.2rem; height: .72rem; margin-right: .24rem; border: 1px solid #f7f7f7; border-radius: .1rem;
    text-align: center; line-height: .72rem;
    color: #303030;
}

.time-select .time-all.active{
    color: #4b89dc;
    border: 1px solid #4b89dc;
}

.time-select .btn-time-group{
    position: relative;
    width: 3.6rem; height: .6rem; margin: .06rem 0; padding: 0 .1rem; border: 1px solid #b0b0b0; border-radius: .1rem;
    text-align: center;
    line-height: .6rem;
}

.time-select .btn-time-group::after{
    content: '';
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    width: .16rem; height: 1px; margin: auto; background-color: #303030;

}

.time-select .btn-time-group span{
    display: inline-block;
    
    font-size: .28rem;
}


/* time-select-end */